<section class="main col-md-12">
    <div class="row">
        <div class="container">
            <article class="col-md-8">
                Đây là nội dung chính
            </article>
            <aside class="col-md-4">
                Đây là siba
            </aside>
        </div>
    </div>
</section>