body{

    width:1200px;
    font-size:20px;
    float: left;
    text-align: center;
    background-image: url("/images/pexels-photo-1903702.jpeg");

}
.top{
    padding-top: 20px;
    height: 150px;
    text-align: center;
    background-color: #5597d7;
}
.left{
    width:300px ;
    float: left;
    background-color: rgba(136, 205, 111, 0.75);
    text-align: left;
    padding-left: 30px;
    margin-top: -120px;
    margin-left: 20px;

}
.right{
    width: 780px;
    float: right;

    text-align: left;
    padding-left: 50px;

}
img{
    padding-left: 10px;
  width: 250px;

}
.icon{
    width: 25px;
}







